@import url('https://fonts.googleapis.com/css2?family=Karla:ital@1&family=Rubik&display=swap');


body {
  background-color: #1b262c;
  font-family:'Karla', sans-serif;
  font-size: 20px;
  line-height: normal;
  color: #bbe1fa;
}

h1 {
  color: #0f4c75;
  font-family: 'Rubik', sans-serif;
  line-height: normal;
  font-size: 40px;
}

h2 {
  color: #3282b8;
  font-family: 'Rubik', sans-serif;
  line-height: normal;
  font-size: 25px;
}

a {
  color: #0f4c75;
  text-decoration: none;

}

a:hover {
  color: #bbe1fa;
}

p {
  padding: 10px;
}

.img-cirle {
  border-radius: 50%;
}

.container {
  width: 700px;   /* This sets the width */
  margin: 40px auto; /* This automatically sets left/right margins */
}

.card {
  padding: 10px 3px 40px;
  background: #24333a;
  border: 1px solid #202d33;
  border-radius: 4px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.4);
  text-align: center;
  margin: 20px auto;
}

.button {
  background-color: white;
  padding: 10px 10px;
  border-radius: 4px;
  margin: 20px 70px auto;
}

.button:hover {
  color: white;
  background-color: black;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
  font-size: 50px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;

}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
